
$body-bg: #e8e8e8;
$main-bg: #ffffff;

$font-family: 'Poppins', sans-serif;
$font-size: 13px;

$navbar-bg: #343434;
$main-bg: #FFFFFF;

$header-height: 80px;
$navbar-width: 272px;
$navbar-collapse-width: 59px;

$txt-color: #000000;

//primary color
$primary-color: #19447a;
$primary-color-900: #02396e;
$primary-color-700: #3c5e97;
$primary-color-600: #5272ad;
$primary-color-500: #6d8bc3;
$primary-color-400: #7e9bd9;
$primary-color-300: #94b0f0;
$primary-color-200: #aac6ff;
$primary-color-100: #c1dcff;
$primary-color-50: #d8f3ff;
